name: install-windows-arm64

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

jobs:
  pyinstaller:
    name: Build (windows-arm64)
    runs-on: windows-11-arm
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          architecture: arm64

      - name: Install dependencies (Windows ARM64)
        run: |
          $env:CRYPTOGRAPHY_DONT_BUILD_RUST=1
          git clone https://github.com/microsoft/vcpkg.git ${{ github.workspace }}\vcpkg
          ${{ github.workspace }}\vcpkg\bootstrap-vcpkg.bat
          ${{ github.workspace }}\vcpkg\vcpkg install openssl:arm64-windows-static-md
          $env:OPENSSL_DIR = "${{ github.workspace }}\vcpkg\installed\arm64-windows-static-md"
          python -m pip install --upgrade pip
          python -m pip install setuptools wheel maturin
          curl --proto '=https' --tlsv1.2 -sSf https://sh.rustup.rs | sh -s -- -y --default-toolchain stable-aarch64-pc-windows-msvc
          $env:PATH += ";$HOME\.cargo\bin"
          python -m pip install pyinstaller
          python -m pip install -r ./requirements.txt
        shell: pwsh

      - name: Install (windows)
        run: |
          python ./build_pyinstaller.py win aarch64 ${{ inputs.tag }}
        shell: pwsh

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: MFW-PyQt6-windows-aarch64
          path: "dist/MFW/"

