name: install-macos

on:
  workflow_call:
    inputs:
      tag:
        required: true
        type: string

jobs:
  pyinstaller:
    name: Build (macos-universal2)
    runs-on: macos-15
    steps:
      - uses: actions/checkout@v4
        with:
          submodules: true

      - name: Set up Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.12'
          architecture: arm64

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          python -m pip install --force-reinstall --no-cache-dir pyinstaller
          brew install libffi pkg-config
          LIBFFI_PREFIX=$(brew --prefix libffi)
          export CPPFLAGS="-I${LIBFFI_PREFIX}/include"
          export LDFLAGS="-L${LIBFFI_PREFIX}/lib"
          export PKG_CONFIG_PATH="${LIBFFI_PREFIX}/lib/pkgconfig:${PKG_CONFIG_PATH:-}"
          export ARCHFLAGS="-arch x86_64 -arch arm64"
          brew install openblas
          OPENBLAS_PREFIX=$(brew --prefix openblas)
          export CPPFLAGS="${CPPFLAGS} -I${OPENBLAS_PREFIX}/include"
          export LDFLAGS="${LDFLAGS} -L${OPENBLAS_PREFIX}/lib"
          export PKG_CONFIG_PATH="${PKG_CONFIG_PATH}:${OPENBLAS_PREFIX}/lib/pkgconfig"
          python -m pip install --no-binary :all: cffi
          python -m pip install --no-binary :all: numpy wheel
          python -m pip install -r requirements.txt

      - name: Install (macos)
        run: |
          sudo python ./build_pyinstaller.py macos universal2 ${{ inputs.tag }}

      - name: Upload artifact
        uses: actions/upload-artifact@v4
        with:
          name: MFW-PyQt6-macos-universal2
          path: "dist/MFW/"

